span.highlight {
	background-color: lightblue;
}

td {
	vertical-align: top;
}
td.chapter {
	vertical-align: middle;
}

tr.book_selector {
	background-color: darkblue;
	color: white;
}

tr.book {
	display: none;
}

td.chapter {
	background-color: lightblue;
}

ul#book_list {
	background-color: white;
	display: none;
	list-style-type: none;
	position: fixed;
	width: 25%;
}
ul#book_list li {
	background-color: darkblue;
	float: left;
	margin: 2px;
	padding: 2px;
}
ul#book_list a {
	color: white;
}